<!DOCTYPE html>
<html lang="en">

<head th:replace="header :: headerFragment"></head>

<body style="background-color: #fff9ec;">

    <!--Nav Bar Start-->
    <nav th:replace="topnavbar :: topNavbarFragment"></nav>
    <!--Nav Bar End-->

    <div class="container-fluid">
        <!--Start title area-->
        <div class="row">
            <div class="col-12 text-center fw-bold title mt-3 p-3">
                <h1> Damaged Item Management</h1>
            </div>
        </div>

        <!--Tabs-->
        <div class="row mt-3">
            <div class="col-12 text-start">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalDamagedForm">
                    <i class="fa-solid fa-plus"></i>
                    Add New Damaged Item
                </button>
            </div>
        </div>

        <!--Start table area-->
        <div class="row mt-2">

            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-hover table-striped" id="tableDamaged">
                            <thead class="table-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Item Name</th>
                                    <th>Quantity</th>
                                    <th>Reason</th>
                                    <th>Modify</th>
                                </tr>
                            </thead>
                            <tbody id="tableDamagedBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--End table area-->
    </div>

    <!--Start form Modal-->

    <div class="modal" tabindex="-1" id="modalDamagedForm" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="/images/image5.png" alt="cactus" style="width: 20px; height: 20px">
                    <h4 class="modal-title"> Edit Damaged Item</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body form-area">

                            <!--action / method-->
                            <form id="formDamaged" onsubmit="return false">
                                <!--Start required mark-->
                                <div class="row mt-2">
                                    <div class="col-12 fw-bold text-end">
                                        <p><span class="text-danger">(*) Fields are Mandatory</span></p>
                                    </div>
                                </div>
                                <!--End required mark-->

                                <!--Start item name / quantity-->
                                <div class="row mt-2">

                                   
                                    <!--item name-->
                                    <div class="col-8">
                                        <lable for="selectItem" class="col-2 form-lable fw-bold">Item Name :
                                            <span class="text-danger">*</span></lable>

                                        <select id="selectItem" required class="form-select" data-bs-toggle="tooltip"
                                            data-bs-placement="bottom" data-bs-title="Please select out this field"
                                            onchange="selectDyanamicElementValidator(this, 'damage', 'item_details_id' )">
                                        </select>
                                    </div>
                                
                                    <!--Quantity-->
                                    <div class="col-4">
                                        <lable for="textQuantity" class="form-lable fw-bold">Quantity : <span
                                                class="text-danger">*</span></lable>
                                        <input type="text" onkeyup="textValidator(this, '^^([1-9][0-9]{0,4})$','damage','quantity')"
                                            class="form-control" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                            data-bs-title="Please fill out this field" id="textQuantity"
                                            placeholder="Enter Quantity" required>
                                    </div>
                                </div>
                                <!--End item name / quantity-->

                                <!--Start Reason-->
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <label for="textReason" class=" col-2 form-label fw-bold">Reason : <span
                                                class="text-danger"></span></label>

                                        <textarea placeholder="Enter Reason"
                                            onkeyup="textValidator(this, '^([A-Za-z0-9\\/]{1,20}[.]?[\\s]?)+$', 'damage', 'reason')"
                                            id="textReason" class="form-control"></textarea>

                                    </div>
                                </div>
                                <!--End Reason-->

                                <!--Start buttons-->
                                <div class="row mt-2">
                                    <div class="col-3 text-start">
                                        <button type="button" class="btn btn-secondary" onclick="buttonDamagedReset()"><i
                                                class="fa-solid fa-recycle fa-xs"></i> Reset</button>
                                    </div>
                                    <div class="col-9 text-end">

                                        <button id="buttonSubmit" type="submit" class="btn btn-success"
                                            onclick="buttonDamagedSubmit()"><i class="fa-solid fa-check fa-xs"></i>
                                            Submit</button>
                                    </div>
                                </div>
                                <!--End buttons-->

                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--End form  modal -->


    <!--print / view model-->
    <div class="modal" tabindex="-1" id="modalDamagedView" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">View Damaged Items</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="tableDamagedView">
                    <h2 class="text-center">SEWLEE CACTUS PLANTS</h2>
                    <p class="text-center">46, Makumbura, Pannipitiya.  +94 714122097</p>
                    <p class="text-start" id="currentDateTime"></p>
                    <h5 class="text-start">Damaged Item Details</h5>
                    <hr>
                    <div class="card">
                        <div class="card-body form-area">
                            <table class="table table-hover table-striped">
                                <thead class="table-dark"></thead>
                                <tr>
                                    <th>Item Name</th>
                                    <td id="tdItemName"></td>
                                </tr>
                                <tr>
                                    <th>Quantity</th>
                                    <td id="tdQuantity"></td>
                                </tr>
                                <tr>
                                    <th>Reason</th>
                                    <td id="tdReason"></td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-info" onclick="buttonDamagedPrint()"><i class="fa-solid fa-print fa-xs"></i>
                        Print</button>
                </div>
            </div>
        </div>
    </div>



    <!--link commonFunction js-->
    <script src="/script/commonFunction.js"></script>

    <!--link tableFunction js-->
    <script src="/script/tableFunction.js"></script>

    <!--link validationFunction js-->
    <script src="/script/validationFunction.js"></script>

    <!--link item js-->
    <script src="/uicontroller/damageditem.js"></script>

</body>

</html>