<!DOCTYPE html>
<html lang="en">

<head th:replace="header :: headerFragment"></head>

<body style="background-color: #fff9ec;">

    <!--Nav Bar Start-->
    <nav th:replace="topnavbar :: topNavbarFragment"></nav>
    <!--Nav Bar End-->

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center fw-bold title mt-3 p-3">
                <h1> Employee Management</h1>
            </div>
        </div>

        <!--Tabs-->
        <div class="row mt-3">
            <div class="col-12 text-start">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#modalEmployeeForm">
                    <i class="fa-solid fa-plus"></i>
                    Add New Employee
                </button>
            </div>
        </div>

        <div class="row mt-2">

            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-hover table-striped" id="tableEmployee">
                            <thead class="table-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Full Name</th>
                                    <th>NIC</th>
                                    <th>Mobile</th>
                                    <th>DOB</th>
                                    <th>Gender</th>
                                    <th>Photo</th>
                                    <th>Designation</th>
                                    <th>Status</th>
                                    <th>Modify</th>
                                </tr>
                            </thead>
                            <tbody id="tableEmployeeBody">
                                <tr>
                                    <td>1</td>
                                    <td>Emp 0001</td>
                                    <td>Shanaya Perera</td>
                                    <td>903612514V</td>
                                    <td>0781421536</td>
                                    <td>Working</td>
                                    <td>
                                        <!--Buttons-->
                                        <button type="button" class="btn btn-primary me-1"><i
                                                class="fa-solid fa-eye fa-2xs"></i></button>
                                        <button type="button" class="btn btn-warning me-1"><i
                                                class="fa-regular fa-pen-to-square fa-2xs"></button>
                                        <button type="button" class="btn btn-danger me-1"><i
                                                class="fa-solid fa-trash-can fa-2xs"></i></button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>2</td>
                                    <td>Emp 0002</td>
                                    <td>Shanaya Perera</td>
                                    <td>903612514V</td>
                                    <td>0781421536</td>
                                    <td>Working</td>
                                    <td>
                                        <!--Buttons-->
                                        <button type="button" class="btn btn-primary me-1"><i
                                                class="fa-solid fa-eye fa-2xs"></i></button>
                                        <button type="button" class="btn btn-warning me-1"><i
                                                class="fa-regular fa-pen-to-square fa-2xs"></button>
                                        <button type="button" class="btn btn-danger me-1"><i
                                                class="fa-solid fa-trash-can fa-2xs"></i></button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>3</td>
                                    <td>Emp 0003</td>
                                    <td>Shanaya Perera</td>
                                    <td>903612514V</td>
                                    <td>0781421536</td>
                                    <td>Working</td>
                                    <td>
                                        <!--Buttons-->
                                        <button type="button" class="btn btn-primary me-1"><i
                                                class="fa-solid fa-eye fa-2xs"></i></button>
                                        <button type="button" class="btn btn-warning me-1"><i
                                                class="fa-regular fa-pen-to-square fa-2xs"></button>
                                        <button type="button" class="btn btn-danger me-1"><i
                                                class="fa-solid fa-trash-can fa-2xs"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

    <!--Form Modal-->

    <div class="modal" tabindex="-1" id="modalEmployeeForm" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="/images/image5.png" alt="cactus icon" style="width: 20px; height: 20px">
                    <h4 class="modal-title"> Edit Employee</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body form-area">

                            <!--action / method-->
                            <form id="formEmployee" onsubmit="return false">
                                <!--Start required mark-->
                                <div class="row mt-2">
                                    <div class="col-12 fw-bold text-end">
                                        <p><span class="text-danger">(*) Fields are Mandatory</span></p>
                                    </div>
                                </div>
                                <!--End required mark-->

                                <!--Start full name-->
                                <div class="row mt-2">

                                    <lable for="textFullName" class="form-lable col-2 fw-bold">Full Name : <span
                                            class="text-danger">*</span></lable>
                                    <div class="col-12">
                                        <input type="text" class="form-control" data-bs-toggle="tooltip"
                                            data-bs-placement="bottom" data-bs-title="Please fill out this field"
                                            id="textFullName" placeholder="Enter Fullname" required>
                                        <div class="form-text">Ex: Dinuka Perera</div>
                                    </div>

                                </div>
                                <!--End full name-->

                                <!--Start calling name & NIC-->
                                <div class="row mt-2">

                                    <!--Calling name-->
                                    <div class="col">
                                        <lable for="" class="form-lable fw-bold">Calling Name : <span
                                                class="text-danger">*</span></lable>
                                        <input type="text" class="form-control" id="textCallingName"
                                            data-bs-toggle="tooltip" data-bs-placement="bottom"
                                            data-bs-title="Please fill out this field"
                                            onchange="callingNameValidator(this)" placeholder="Enter Calling Name"
                                            list="dlCallingName" required>
                                        <datalist id="dlCallingName">
                                            <option value="Part-1">
                                            <option value="Part-2">
                                            <option value="Part-3">
                                        </datalist>

                                        <div class="form-text">Select valid Calling name</div>
                                    </div>

                                    <!--NIC-->
                                    <div class="col">
                                        <lable for="textNic" class="form-lable fw-bold"> NIC : <span
                                                class="text-danger">*</span></lable>
                                        <input type="text" class="form-control" id="textNic" data-bs-toggle="tooltip"
                                            data-bs-placement="bottom" data-bs-title="Please fill out this field"
                                            onkeyup="nicValidator(this);" placeholder="Enter valid NIC" required>
                                        <div class="form-text">Ex : 000000000V</div>
                                    </div>

                                </div>
                                <!--End Calling name & NIC-->

                                <!--Start Gender & DOB-->
                                <div class="row mt-2">

                                    <!--Gender-->
                                    <div class="col">
                                        <lable for="" class="form-lable fw-bold"> Gender : <span
                                                class="text-danger">*</span></lable>

                                        <div class="row mt-1">

                                            <div class="col-12">

                                                <div class="form-check form-check-inline">
                                                    <input onchange="employee.gender = this.value;" type="radio"
                                                        required class="form-check-input" id="radioMale" value="Male"
                                                        name="gender">
                                                    <lable for="radioMale" class="form-check-lable fw-bold">Male</lable>
                                                </div>

                                                <div class="form-check form-check-inline">
                                                    <input onchange="employee.gender = this.value;" type="radio"
                                                        required class="form-check-input" id="radioFemale"
                                                        value="Female" name="gender">
                                                    <lable for="radioFemale" class="form-check-lable fw-bold">Female
                                                    </lable>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <!--DOB-->
                                    <!--onkeydown = return false ---cannot type-->
                                    <div class="col">
                                        <lable for="dteDOB" class="form-lable fw-bold"> DOB : <span
                                                class="text-danger">*</span></lable>
                                        <input onkeydown="return false"
                                            onchange="dateElementValidator(this, 'employee','dob')" type="date" required
                                            class="form-control" id="dteDOB" data-bs-toggle="tooltip"
                                            data-bs-placement="bottom" data-bs-title="Please select out this field">
                                    </div>
                                </div>
                                <!--End Gender & DOB-->

                                <!--Start Email & Civil Status-->
                                <!--email-->
                                <div class="row mt-2">
                                    <div class="col-6">
                                        <lable for="textEmail" class="form-lable fw-bold">Email : <span
                                                class="text-danger">*</span></lable>
                                        <input type="email" required
                                            onkeyup="textValidator(this, '^([A-Za-z0-9]{2,30}[@][a-z]{4,8}[.][a-z]{2,3})$','employee','email')"
                                            placeholder="Enter Email" class="form-control" id="textEmail"
                                            data-bs-toggle="tooltip" data-bs-placement="bottom"
                                            data-bs-title="Please fill out this field">
                                    </div>

                                    <!--civil status-->
                                    <div class="col-6">
                                        <lable for="selectCivilStatus" class="form-lable fw-bold">Civil Status : <span
                                                class="text-danger">*</span></lable>
                                        <select id="selectCivilStatus" required class="form-select"
                                            data-bs-toggle="tooltip" data-bs-placement="bottom"
                                            data-bs-title="Please select out this field"
                                            onchange="selectStaticElementValidator(this, 'employee','civil_status')">
                                            <option value="" selected disabled>Select Civil Status</option>
                                            <option value="Single">Single</option>
                                            <option value="Married">Married</option>
                                        </select>
                                    </div>
                                </div>
                                <!--End Email & Civil status-->

                                <!--Start mobile number & land number-->
                                <!--mobile no-->
                                <div class="row mt-2">
                                    <div class="col-6">
                                        <lable for="textMobile" class="form-lable fw-bold">Mobile No. : <span
                                                class="text-danger">*</span></lable>
                                        <input type="text" required
                                            onkeyup="textValidator(this, '^([0][7][01245678][0-9]{7})$', 'employee', 'mobile_no')"
                                            placeholder="Enter Mobile No." class="form-control" id="textMobile"
                                            data-bs-toggle="tooltip" data-bs-placement="bottom"
                                            data-bs-title="Please fill out this field">
                                    </div>

                                    <!--land no-->
                                    <div class="col-6">
                                        <lable for="textLandNo" class="form-lable fw-bold">Land No. : </lable>
                                        <input type="text"
                                            onkeyup="textValidator(this, '^([0][12345689][0-9]{8})$','employee', 'land_no')"
                                            placeholder="Enter Land No." class="form-control" id="textLandNo">
                                    </div>
                                </div>
                                <!--End mobile number & land number-->

                                <!--Start Address, Note and photo-->
                                <div class="row mt-2">
                                    <!--Address-->
                                    <div class="col-5">
                                        <label for="textAddress" class="form-lable fw-bold">Address : <span
                                                class="text-danger">*</span></label>
                                        <textarea required placeholder="Enter Address"
                                            onkeyup="textValidator(this, '^([A-Za-z0-9\\/]{1,20}[,][\\s])+([A-Z][a-z]{2,20}[,])+ ([A-Z][a-z]{2,20}[.])$', 'employee', 'address')"
                                            id="textAddress" class="form-control" data-bs-toggle="tooltip"
                                            data-bs-placement="bottom"
                                            data-bs-title="Please fill out this field"></textarea>
                                    </div>

                                    <!--Note-->
                                    <div class="col-4">
                                        <label for="textNote" class="form-lable fw-bold">Note : </label>
                                        <textarea placeholder="Enter Note"
                                            onkeyup="textValidator(this, '^([A-Za-z0-9\\/]{1,20}[.]?[\\s]?)+$', 'employee', 'note')"
                                            id="textNote" class="form-control" data-bs-toggle="tooltip"
                                            data-bs-placement="bottom"
                                            data-bs-title="Please fill out this field"></textarea>
                                    </div>

                                    <!--Photo-->
                                    
                                    <div class="col-3">
                                        <label for="textNote" class="form-lable fw-bold">Photo Preview : </label>
                                        <br>
                                        <img id="imgEmpPhotoPreview" class="w-50 h-50 rounded-circle" src="/images/g1.png" alt="">

                                        <div class="col">
                                        <label for="textNote" class="form-lable fw-bold"></label>
                                        <div class="input-group">
                                            <button onclick="fileEmployeePhoto.click()" type ="button" class="btn btn-secondary">Select Photo</button>
                                            <button type ="button" class="btn btn-info">Clear</button>
                                        </div>
                                        <input onchange="imageFileValidator(this, 'employee', 'employee_photo',imgEmpPhotoPreview)" class="d-none" type="file" id="fileEmployeePhoto">
                                    </div>
                                    </div>
                                </div>
                                <!--End Address, Note and photo-->

                                <!--Start Designation & Employee status-->
                                <div class="row mt-2">

                                    <!--Designation-->
                                    <div class="col-6">
                                        <lable for="selectDesignation" class="form-lable fw-bold">Designation : <span
                                                class="text-danger">*</span></lable>
                                        <select id="selectDesignation" required class="form-select"
                                            data-bs-toggle="tooltip" data-bs-placement="bottom"
                                            data-bs-title="Please select out this field"
                                            onchange="selectDyanamicElementValidator(this, 'employee', 'designation_id' )">
                                            <option value="" selected disabled>Select Designation</option>
                                            <option value="Manager">Manager</option>
                                            <option value="Asst-Manager">Asst-Manager</option>
                                            <option value="Clerk">Clerk</option>
                                            <option value="Accountant">Accountant</option>
                                        </select>
                                    </div>

                                    <!--employee status-->
                                    <div class="col-6">
                                        <lable for="selectEmployeeStatus" class="form-lable fw-bold">Employee Status :
                                            <span class="text-danger">*</span>
                                        </lable>
                                        <select id="selectEmployeeStatus" required class="form-select"
                                            data-bs-toggle="tooltip" data-bs-placement="bottom"
                                            data-bs-title="Please select out this field"
                                            onchange="selectDyanamicElementValidator(this,'employee', 'employee_status_id')">
                                            <option value="" selected disabled>Select Employee Status</option>
                                            <option value="Working">Working</option>
                                            <option value="Resign">Resign</option>
                                            <option value="Removed">Removed</option>
                                        </select>
                                    </div>
                                </div>
                                <!--End designation & employee status-->

                                <!--Start buttons-->
                                <div class="row mt-2">
                                    <div class="col-3 text-start">
                                        <button type="button" class="btn btn-secondary"
                                        onclick="buttonEmployeeReset()"> <i class="fa-solid fa-recycle fa-xs"></i> Reset</button>
                                    </div>
                                    <div class="col-9 text-end">
                                        <button id="buttonUpdate" type="submit" class="btn btn-warning me-2"
                                            onclick="buttonEmployeeUpdate()"><i class="fa-solid fa-rotate fa-xs"></i>
                                            Update</button>

                                        <button id="buttonSubmit" type="submit" class="btn btn-success"
                                            onclick="buttonEmployeeSubmit()"><i class="fa-solid fa-check fa-xs"></i>
                                            Submit</button>
                                    </div>
                                </div>

                                <!--End buttons-->
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!--print / view model-->
    <div class="modal" tabindex="-1" id="modalEmployeeView" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">View Employee</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="tableEmployeeView">
                    <h2 class="text-center">SEWLEE CACTUS PLANTS</h2>
                    <p class="text-center">46, Makumbura, Pannipitiya.  +94 714122097</p>
                    <p class="text-start" id="currentDateTime"></p>
                    <h5 class="text-start">Employee Details</h5>
                    <hr>
                    <div class="card">
                        <div class="card-body form-area">
                            <table class="table table-hover table-striped">
                                <thead class="table-dark"></thead>
                                <tr>
                                    <th>Employee Full Name</th>
                                    <td id="tdEmployeeFullname"></td>
                                </tr>
                                <tr>
                                    <th>Employee Number</th>
                                    <td id="tdEmployeeNumber"></td>
                                </tr>
                                <tr>
                                    <th>Employee Calling Name</th>
                                    <td id="tdEmployeeCallingname"></td>
                                </tr>
                                <tr>
                                    <th>Employee NIC</th>
                                    <td id="tdEmployeeNic"></td>
                                </tr>
                                <tr>
                                    <th>Employee DOB</th>
                                    <td id="tdEmployeeDob"></td>
                                </tr>
                                <tr>
                                    <th>Employee Gender</th>
                                    <td id="tdEmployeeGender"></td>
                                </tr>
                                <tr>
                                    <th>Employee Mobile Number</th>
                                    <td id="tdEmployeeMobileno"></td>
                                </tr>
                                <tr>
                                    <th>Employee Designation</th>
                                    <td id="tdEmployeeDesignation"></td>
                                </tr>
                                <tr>
                                    <th>Employee Status</th>
                                    <td id="tdEmployeeStatus"></td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-info" onclick="buttonEmployeePrint()"><i class="fa-solid fa-print fa-xs"></i>
                        Print</button>
                </div>
            </div>
        </div>
    </div>





    <!--link commonFunction js-->
    <script src="/script/commonFunction.js"></script>

    <!--link tableFunction js-->
    <script src="/script/tableFunction.js"></script>

    <!--link validationFunction js-->
    <script src="/script/validationFunction.js"></script>

    <!--link employee js-->
    <script src="/uicontroller/employee.js"></script>


</body>

</html>